.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal {
  position: absolute;
  z-index: 1000;
  border-radius: var(--radius);
  background: linear-gradient(
    45deg,
    var(--light-brown) 0%,
    var(--dark-yellow) 20%,
    var(--yellow) 80%,
    var(--light-yellow) 100%
  );
}

.modal--small {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3.125rem;
}

.modal--big {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 3rem auto;
  padding: 3.125rem;
  width: 80%;
}

.modal--fullscreen {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 2.5rem;
  overflow-y: auto;
}

.modal__close-button {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.modal__close-button__icon {
  width: 2rem;
  height: 2rem;
}

.modal__content {
  line-height: 1.6;
}

.modal__content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal__content p + p {
  margin-top: 0.5rem;
}

.modal ol ul {
  margin-left: 1.5rem;
}

.modal li {
  margin-bottom: 0.5rem;
}

.modal ul {
  margin-top: 0.5rem;
}

.modal ol {
  list-style-position: inside;
}

.modal code {
  background-color: rgba(255, 255, 204, 0.4);
  padding: 0.125rem 0.25rem;
  border-radius: var(--radius);
}

.modal a {
  color: var(--brown);
}

.modal a:hover {
  color: var(--light-brown);
}

@media screen and (max-width: 56.25rem) {
  .modal--small {
    width: 80%;
  }

  .modal__close-button {
    top: 0.313rem;
    right: 0.313rem;
  }

  .modal__content h2 {
    font-size: 1.25rem;
  }
}
